.aboutUs {
  span {
    margin: 25px;
  }

  .title-about {
    border-bottom: 1px solid #545454;
    color: #545454;
    padding-bottom: 0.5em;
    margin-bottom: 1em !important;
    margin-top: 1.5em !important;

    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat, sans-serif;
    text-transform: Uppercase;

    svg {
      margin-left: 10px;
      float: right;
    }
  }
}

.person {
  float: right;
  margin: 10px;
}

