.contact-container {
  @media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .form-contact {
      padding: 5% !important;
    }
    .text-contact {
      padding: 5% !important;
      text-align: justify;
    }
  }
  .submit-button {
    background-color: #74a9db !important;
    border-color: #74a9db !important;
    text-shadow: 0 0 1px black;
  }
}
