.form-contact {
  padding: 5% !important;
}

.text-contact {
  padding: 5% !important;
  text-align: justify;
}

.submit-button {
  background-color: #74a9db !important;
  border-color: #74a9db !important;
}
