.travel-route {
  .sidebar{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .mapwrapper{
    padding-left: 0 !important;
    padding-bottom: 20px !important;

    .container-fluid{
      padding-left: 0 !important;
    }
  }
}
#side_bar_mobile{
    display: none;
}
#side_bar_pc{
    display: inline-block;
}
@media only screen 
    and (max-device-width : 480px) 
    and (orientation : portrait) 
{
    #side_bar_mobile{
        display: inline-block;
    }
    #side_bar_pc{
        display: none;
    }
    .mapwrapper   
    {
      padding-right: 0 !important;
    }
}