.travel-route-container {
  .travel-route {
    .sidebar {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .mapwrapper {
      padding-left: 0 !important;
      padding-bottom: 20px !important;

      .container-fluid {
        padding-left: 0 !important;
      }
    }
  }

  .travel-route {
    display: flex;
    flex-direction: row;

    .sidebar {
      flex: 15;
    }
    .mapwrapper {
      flex: 85;
    }
  }
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .travel-route {
    flex-direction: column-reverse;
  }

  .mapwrapper {
    padding-right: 0 !important;
    .container-fluid {
      padding-right: 0 !important;
    }
  }

  .sidebar {
    display: flex;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
  }

  .side-bar-container {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .travel-route {
    padding: 0px !important;
  }

  .travel-route-container {
    padding: 0px !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
  }
  .text-center {
    min-height: calc(100vh);
  }
}
