.travel-route {
  .sidebar {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .mapwrapper {
    padding-left: 0 !important;
    padding-bottom: 20px !important;

    .container-fluid {
      padding-left: 0 !important;
    }
  }
}

.travel-route {
  display: flex;
  flex-direction: row;

  .sidebar {
    flex: 15;
  }
  .mapwrapper {
    flex: 85;
  }
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .travel-route {
    flex-direction: column-reverse;
  }

  .mapwrapper {
    padding-right: 0 !important;
    .container-fluid {
      padding-right: 0 !important;
    }
  }
}
