.image-carousel {
  height: 450px;
  width: 340px !important;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-position: 70% 50%;
  padding: 0px !important;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
}

.image-carousel:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.image-item {
  padding: 20px 0 50px 0px;
}

.text-info-carousel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  font-size: 20px;
  font-family: "Domine";
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff !important;
}

.card-post {
  flex-direction: row !important;
}

.is-selected {
  background-color: red;
}
