footer {
  background-color: #74a9db;
  text-align: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .footer-image {
    max-width: 12%;
    cursor: pointer;

    @media (max-width: 480px) and (orientation: portrait) {
      max-width: 25%;
    }
  }

  .section1 {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 20px;
  }

  .icon-footer {
    border-radius: 2px !important;

    cursor: pointer;
  }

  .insta-footer {
    background: rgba(0, 0, 0, 0) url("../images/insta.gif") no-repeat scroll 0 0;
    color: white;
  }
  .face-footer {
    color: rgb(59, 89, 152);
  }
}
