.map {
  width: 100%;
  height: 650px;
  padding-left: 20px;
  padding-right: 20px;

  @media only screen 
  and (max-device-width : 480px) 
  and (orientation : portrait) 
  {
    padding: 0;
  }
}

.popover-body {
  min-width: 276px;
}
