.pagination-destinations {
  justify-content: center;
  --bs-pagination-active-border-color: #74a9db !important;
  --bs-pagination-color: #74a9db !important;
  --bs-pagination-focus-color: #74a9db !important;
  --bs-pagination-hover-color: #74a9db !important;
  --bs-pagination-active-bg: #74a9db !important;
  margin-top: 50px !important;
}
