.pagination-destinations {
  justify-content: center;
  --bs-pagination-active-border-color: #74a9db;
  --bs-pagination-color: #74a9db;
  --bs-pagination-focus-color: #74a9db;
  --bs-pagination-hover-color: #74a9db;
  --bs-pagination-active-bg: #74a9db;
  margin-top: 50px;
}
