//Flex Container
.container-modal {
  @media (min-width: 992px) or (orientation: "landscape") {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    //Text and Description
    .description-modal {
      // max-height: calc(100vh - 50px);
      overflow-y: auto;
      flex: 1 1 0px;
      text-align: start;
      h3 {
        margin-bottom: 20px;
      }
    }
  }
  padding-bottom: 8px;
}
.description-modal {
  @media (min-width: 768px) and (orientation: "landscape") {
    // max-height: calc(100vh - 300px) !important;
  }
  @media (min-width: 992px) and (orientation: "landscape") {
    // max-height: calc(100vh - 200px) !important;
  }
  @media (min-width: 1200px) {
    // max-height: calc(100vh - 300px);
  }
}

.modal-header-post {
  padding-bottom: 0px !important;
}

.subtitle-post {
  display: flex;
  color: gray;
  align-items: flex-end;
  padding: 0px !important;
}

.subtitle {
  margin-right: 5px;
}

.address {
  margin-left: 5px;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .subtitle,
  .address {
    font-size: 0.6em;
  }

  .post-carrousel {
    margin-bottom: 10px;
  }

  .description-modal {
    text-align: justify !important;
    padding: 0 !important;
  }
}
@media only screen and (orientation: landscape) {
  .subtitle,
  .address {
    font-size: 0.6em;
  }
}

.post-modal {
  .modal-title {
    font-size: 1.3rem;
  }
}

.hidden-modal {
  visibility: hidden !important;
}
