//Flex Container
.container-modal {
  @media (min-width: 992px) or (orientation: "landscape") {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //Text and Description
    .description-modal {
      max-height: calc(100vh - 200px);
      overflow-y: auto;
      flex: 1 1 0px;
      text-align: start;
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

.post-modal {
  .modal-dialog {
    max-width: 61% !important;

    @media only screen and (max-device-width: 480px) and (orientation: portrait) {
      max-width: 100% !important;
    }
  }
}

.modal-header-post {
  padding-bottom: 0px !important;
}

.modal-header-title {
  display: flex;
  flex-direction: column;
}

.modal-backdrop {
  opacity: 0.9 !important;
}

.subtitle-post {
  display: flex;

  align-items: flex-end;
  padding: 0px !important;
}

.subtitle {
  margin-right: 5px;
}

.address {
  margin-left: 5px;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .subtitle,
  .address {
    font-size: 0.6em;
  }

  .post-carrousel{
    margin-bottom: 10px;
  }

  .description-modal{
    text-align: justify !important;
    padding: 0 !important;
  }
}
