.card-post {
  border: none !important;
  display: flex !important;
  flex-direction: row !important;
  margin: 20px 0;

  .card-title {
    text-align: center;
  }
}
.post-carrousel {
  .carousel-item {
    @media (min-width: 992px) or (orientation: landscape) {
      padding: 2% 20% !important;
    }
  }
}

.see-more-button {
  background-color: #74a9db !important;
  border-color: #74a9db !important;
  margin-top: 15px;
}

.description-destination {
  text-align: center;
}

.text-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-align: center;
}

.post-mobile {
  display: none;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .post-pc {
    display: none;
  }

  .post-mobile {
    display: inline;
    margin-top: 10px;
  }

  .title-destination {
    text-align: center;
  }
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .text-description {
    text-align: justify;
    margin-top: 10px;
  }
}
