.side-bar-container {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  padding-top: 10px;

  @media only screen 
  and (max-device-width : 480px) 
  and (orientation : portrait) 
  {    
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    
      .side-bar-card {
        display: inline-block;
        margin: 2px 5px 15px 5px;

        .side-bar-body{
          padding: 10px 5px 20px 5px !important;
        }
      }
    
  }

}

