.sidebar-card {
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.6;

  .card-img {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  @media only screen and (max-device-width: 960px) and (orientation: portrait) {
    display: inline-block;
    margin: 2px 5px 5px 5px;
    white-space: nowrap;

    .sidebar-body {
      padding: 10px 5px 20px 5px !important;
    }
  }
}

.title-sidebar {
  color: white;
  margin-bottom: 0 !important;
  padding: 8px;
  text-shadow: 1px 1px 2px rgb(27, 46, 52);
  @media only screen and (max-device-width: 960px) and (orientation: portrait) {
    white-space: pre-wrap;
  }
}

.title-sidebar-day {
  color: white;
  margin-top: auto !important;
  margin-bottom: 30px !important;
  margin-left: auto !important;
  background-color: #74a9db;
  border-radius: 4px;
  padding: 2px;
  font-size: 0.75rem !important;
}

.sidebar-body {
  padding: 5px !important;

  > p {
    font-weight: 500;
  }
}

.sub-title-sidebar {
  margin-bottom: 0 !important;
  font-size: 0.75rem;
}
.sidebar-date {
  float: right;
}
.sidebar-text {
  float: left;
}

.card-active {
  box-shadow: rgba(18, 67, 123, 0.4) 0px 0px 0px 2px,
    rgba(49, 88, 132, 0.65) 0px 4px 6px -1px,
    rgba(115, 125, 136, 0.08) 0px 1px 0px inset;
  transform: scale(1.05);
  opacity: 1;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  .sidebar-body {
    background-color: #74a9db;

    .sub-title-sidebar {
      color: white;
    }
  }
}

.img-overlay-sidebar {
  padding: 5px !important;
  display: flex;
  flex-direction: column;
}

