//Carrousel
.simple-carrousel {
  object-fit: contain;
  object-position: center;
  overflow: hidden;

  @media (min-width: 992px) or (orientation: landscape) {
    flex: 1 1 0px;
  }


  @media (min-width: 1200px) {
    .carousel-control-prev {
      left: 5vw;
    }
   
    .carousel-control-next {
      right: 5vw;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    opacity: 1;
    background-color: #74a9db;
    opacity: 1;
  }
}

.hide-control {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    visibility: hidden;
  }
}
