.title-content {
  margin-top: 40px;
  width: 100% !important;
  max-width: var(--content-max-width, var(--breakpoint-xl));

  h2 {
    border-bottom: 1px solid #545454;
    color: #545454;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat, sans-serif;
    text-transform: Uppercase;
    
    img {
      margin-left: 10px;
      float: right;
    }
  }
}
