.modal-header {
  border-bottom: none;
  padding-top: 5px;

}

.modal-dialog {
  margin-top: 5px;
  margin-bottom: 0px;
  @media only screen and (max-device-width: 480px) and (orientation: portrait) {
    max-width: 100% !important;
  };
}

.modal-backdrop {
  opacity: 0.9 !important;
}

.modal-header-title {
  display: flex;
  flex-direction: column;
}

.modal-body {
  padding: 0px !important;
}
