.title-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #545454;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  text-transform: Uppercase;
  h2 {
    margin-bottom: 10px;
    @media (max-width: 480px) and (orientation: portrait) {
      font-size: large;
    }
  }
  .title-icon {
    height: 50px;
    width: 50px;
  }
}
